ion-title{
    color: #616161;
    text-align: center;
}

ion-card{
    color: #616161;
    text-align: center;

}

ion-img{
    justify-content: center;
    display: flex;
    align-self: center;  

}

ion-button{
    height: 20px;
    width: 130px;
    justify-content: center;

}
