<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        <ion-img justify-content-center align-items-center style="width: 100%; height: 60px;" src="/assets/logo2.png"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button (click)="addPage()">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
  <ion-grid>
    <ion-row row-1>
      <ion-col>
          <ion-card>
              <ion-card-content>
                  <ion-img src="/assets/kaws.png"></ion-img>
              </ion-card-content>
            </ion-card>

      </ion-col>

      <ion-col >
          <ion-card>
          <ion-card-content>
              <ion-img src="/assets/adidas.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row row-1>
        <ion-col>
            <ion-card>
                <ion-card-content>
                    <ion-img src="/assets/kappa.png"></ion-img>
                </ion-card-content>
              </ion-card>
        </ion-col>

        <ion-col >
            <ion-card>
            <ion-card-content>
                <ion-img src="/assets/nike.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row row-1>
          <ion-col>
              <ion-card>
                  <ion-card-content>
                      <ion-img src="/assets/gfn.png"></ion-img>
                  </ion-card-content>
                </ion-card>
          </ion-col>

          <ion-col >
              <ion-card>
              <ion-card-content>
                  <ion-img src="/assets/reebok.png"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    <ion-grid>
          <ion-row row-1>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <ion-img src="/assets/fila.png"></ion-img>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
  
            <ion-col>
                <ion-card>
                <ion-card-content>
                    <ion-img src="/assets/puma.png"></ion-img>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
