ion-input{
    color: #9e9e9e;
}

.ion-color-whiten{
    --ion-color-base: #9E9E9E;
    --ion-color-base-rgb: 158,158,158;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #212121;
    --ion-color-tint:#9E9E9E;
  }

.ion-color-gray{
    --ion-color-base: #616161;
    --ion-color-base-rgb: 97,97,97;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #424242;
    --ion-color-tint: #616161;
}

div{
    color: #424242;
}  

ion-card-content {
    justify-content: center;
	display: grid;
 	align-items: center;
}

ion-list {
    justify-content: center;
	display: grid;
 	align-items: center;
}

ion-item {
    justify-content: center;
	display: grid;
 	align-items: center;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}

.error-message {
  min-height: 2.2rem;
}
 .error-message ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  