<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        <ion-img justify-content-center align-items-center style="width: 100%; height: 60px;" src="/assets/logo2.png"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-item lines="none">

      <img img justify-content-center align-items-center src="assets/bag_sad.jpg">

  </ion-item>

  <ion-label text-wrap>
      <h3>No tienes nada en tu bolsa </h3>
      <p color="danger">Añade productos para continuar</p>
    </ion-label>


</ion-content>
