ion-title{
    color: #616161;
    text-align: center;
}
  
img{
    height: auto !important;
    width: 180px;
  max-height: 400px; 
  }

  p{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color:#b71c1c ;
  }


  h3{
    text-align: center;
    font-size: 16px;
  }
  
  ion-item {
    justify-content: center;
  display: grid;
   align-items: center;
  }

